#navbar {
  background-color:#B87333;
}

#navbar ul {
  list-style: none;
  display: flex; 
  justify-content: space-between;
  padding: 20px;
  flex-direction: row;
  margin-bottom: 0;
}

#navbar li {
  margin: 0 10px;
  font-size: 20px;
}

#navbar a {
  text-decoration: none;
  color:white;
  font-weight: bold;
}

body {
font-family: Arial, sans-serif;
margin: 0;
  padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lavender;
}
  }

  .container {
    width: 80%;
    margin: 0 auto;
  
  }

  h1 {
    margin-top: 20px;
  }

  .project {
    border: 4px solid #B87333; /* Border color for project card */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for project card */
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }

  .project:hover {
    background-color: blanchedalmond; /* Background color on hover */
  }

  .details {
    display: none;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Border color for project details */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for project details */
  }

  .details img {
    max-width: 100%;
    height: auto;
  }


#contact{
  /* position:fixed; */
  bottom: 0;
  width: 100%;
  background-color: blanchedalmond;
  padding:10px 20px;
  margin: 0 auto;
  z-index: 1000;
}


/*=========================================
  Hamburger Icon Styles START
/* ======================================*/ 
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: absolute; 
  top: 10px;  /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: hotpink;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 0px;
  margin-left: 0px;
}

/*=========================================
  Hamburger Icon Styles END
/* ======================================*/ 




@media all and (max-width: 768px) {
  #skills {
    background-color: #82a182;
    color: white; 
  }

  .menu-toggle {
    display: flex;
  } 

  #navbar ul {
    display: none;
    background-color: black;
    flex-direction: column; /* Stack the links vertically */
    text-align: center; /* Center-align the links */
    position: absolute; /* Position it above the content */
    top: 60px; /* Adjust the top position as needed */
    right: 0; /* Position it to the right */
    z-index: 1; /* Ensure it's on top of other elements */
  }

  #navbar ul.active {
    display: flex; /* Show the navigation links when active class is added */
  }
}