#navbar {
  background-color:#B87333;
}

#navbar ul {
  list-style: none;
  display: flex; 
  justify-content: space-between;
  padding: 20px;
  flex-direction: row;
  margin-bottom: 0;
}

#navbar li {
  margin: 0 10px;
  font-size: 20px;
}

#navbar a {
  text-decoration: none;
  color:white;
  font-weight: bold;
  
body {
  font-family:Arial, sans-serif;
  font-size: 30px;
  background-color: #f4f4f4
  color: black;
  margin: 5;
  padding: 20;
  border: 10;
}

article{
  max-width: 200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e4f6f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p{
  text-align: justify;
  line-height: 1.6;
  font-size: 30px;
  
}

img{
  max-width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
}

#case-description{
  margin-top: 30px;
  font-size: 20px;
}

#exec-summary{
  font-size: 20px;
  margin-top: 30px;
}